body.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode table th {
    background-color: #555;
}

body.dark-mode table tr:nth-child(even) {
    background-color: #666;
}

body.dark-mode a {
    color: #66b2ff;
}
